Language: Cpp
BasedOnStyle: LLVM

ColumnLimit: 100

# Mirrored in .editorconfig — keep them in sync.
UseTab: Never
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4

BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: None
Cpp11BracedListStyle: false
SortIncludes: false
